html {
    font-size: 62.5%
}

ul, li {
    list-style: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    left: 0px;
    top: 0px;

    width: 100vw;
}

nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 28px;
}

button {
    width: 137px;
    height: 40px;
}